<!-- ===================== MEMBERS & COLLABORATORS ===================== -->
<h3 class="group-title">Senior Research Assistants</h3>

<div class="people-grid">

  <!-- Nguyên khang-->
  <article class="person-card person-card--compact">
    <img class="person-avatar"
         src="/img/TeamImg/CTV_LeNguyenNguyenKhang@4x.png"
         alt="Le Nguyen Nguyen Khang"
         loading="lazy">

    <div class="person-body">
      <div class="person-top">
        <div class="person-name">Le Nguyen Nguyen Khang</div>

        <div class="person-mini">
          <div class="person-mini-line">HUTECH University, Vietnam</div>
          <!-- <div class="person-mini-line">Ho Chi Minh City, Vietnam</div> -->
        </div>
      </div>

      <a class="pill"
         href="https://orcid.org/0009-0004-7005-2866"
         target="_blank" rel="noopener">
        ORCiD <span class="arrow" aria-hidden="true">↗</span>
      </a>
    </div>
  </article>

  <!-- Nguyen Cong Hung -->
  <article class="person-card person-card--compact">
    <img class="person-avatar"
         src="/img/TeamImg/CTV_NguyenCongHung@4x.png"
         alt="Nguyen Cong Hung"
         loading="lazy">

    <div class="person-body">
      <div class="person-top">
        <div class="person-name">Nguyen Cong Hung</div>

        <div class="person-mini">
          <div class="person-mini-line">HUTECH University, Vietnam</div>
          <!-- <div class="person-mini-line">Ho Chi Minh City, Vietnam</div> -->
        </div>
      </div>

      <a class="pill"
         href="https://orcid.org/0009-0003-2194-3876"
         target="_blank" rel="noopener">
        ORCiD <span class="arrow" aria-hidden="true">↗</span>
      </a>
    </div>
  </article>

    <!-- Tran Phuong Thao -->
    <article class="person-card person-card--compact">
        <img class="person-avatar"
            src="/img/TeamImg/CTV_Thao@4x.png"
            alt="Tran Phuong Thao"
            loading="lazy">

        <div class="person-body">
        <div class="person-top">
            <div class="person-name">Tran Phuong Thao</div>

            <div class="person-mini">
            <div class="person-mini-line">HUTECH University, Vietnam</div>
            <!-- <div class="person-mini-line">Ho Chi Minh City, Vietnam</div> -->
            </div>
        </div>

        <a class="pill"
            href="https://orcid.org/0009-0008-9760-8886"
            target="_blank" rel="noopener">
            ORCiD <span class="arrow" aria-hidden="true">↗</span>
        </a>
        </div>
    </article>

    <!-- Phạm Quang Lộc -->
    <article class="person-card person-card--compact">
        <img class="person-avatar"
            src="/img/TeamImg/Loc.png"
            alt="Pham Quang Loc"
            loading="lazy">

        <div class="person-body">
        <div class="person-top">
            <div class="person-name">Pham Quang Loc</div>

            <div class="person-mini">
            <div class="person-mini-line">Ho Chi Minh City University of Education, Vietnam</div>
            <!-- <div class="person-mini-line">Ho Chi Minh City, Vietnam</div> -->
            </div>
        </div>

        <a class="pill"
            href="https://orcid.org/0009-0004-3216-9756"
            target="_blank" rel="noopener">
            ORCiD <span class="arrow" aria-hidden="true">↗</span>
        </a>
        </div>
    </article>

    <!-- Bui Minh Huy -->
    <article class="person-card person-card--compact">
        <img class="person-avatar"
            src="/img/TeamImg/CTV_Huy@4x.png"
            alt="Bui Minh Huy"
            loading="lazy">

        <div class="person-body">
        <div class="person-top">
            <div class="person-name">Bui Minh Huy</div>

            <div class="person-mini">
            <div class="person-mini-line">Ho Chi Minh City University of Education, Vietnam</div>
            <!-- <div class="person-mini-line">Ho Chi Minh City, Vietnam</div> -->
            </div>
        </div>

        <a class="pill"
            href="https://orcid.org/0009-0007-1550-7970"
            target="_blank" rel="noopener">
            ORCiD <span class="arrow" aria-hidden="true">↗</span>
        </a>
        </div>
    </article>

  

     <!-- Phạm Minh Khôi-->
  <article class="person-card person-card--compact">
    <img class="person-avatar"
         src="/img/TeamImg/LMK.png"
         alt="Phạm Minh Khôi"
         loading="lazy">

    <div class="person-body">
      <div class="person-top">
        <div class="person-name">Pham Minh Khoi</div>

        <div class="person-mini">
          <div class="person-mini-line">Ho Chi Minh City University of Education, Vietnam</div>
          <!-- <div class="person-mini-line">Ho Chi Minh City, Vietnam</div> -->
        </div>
      </div>

      <a class="pill"
         href="https://orcid.org/0009-0007-5788-7596"
         target="_blank" rel="noopener">
        ORCiD <span class="arrow" aria-hidden="true">↗</span>
      </a>
    </div>
  </article>
  
   
</div>


<h3 class="group-title">Research Assistants</h3>

<div class="people-grid">

  <!-- Nguyễn Hoàng Khôi-->
  <article class="person-card person-card--compact">
    <img class="person-avatar"
         src="/img/TeamImg/HoangKHoi.png"
         alt="Nguyen Hoang khoi"
         loading="lazy">

    <div class="person-body">
      <div class="person-top">
        <div class="person-name">Nguyen Hoang Khoi</div>

        <div class="person-mini">
          <div class="person-mini-line">Ho Chi Minh City University of Education, Vietnam</div>
          <!-- <div class="person-mini-line">Ho Chi Minh City, Vietnam</div> -->
        </div>
      </div>

      <a class="pill"
         href="https://orcid.org/0009-0004-6644-703X"
         target="_blank" rel="noopener">
        ORCiD <span class="arrow" aria-hidden="true">↗</span>
      </a>
    </div>
  </article>


   <!-- Le Minh Quan-->
  <article class="person-card person-card--compact">
    <img class="person-avatar"
         src="/img/TeamImg/LeMinhQuan@4x.png"
         alt="Le Minh Quan"
         loading="lazy">

    <div class="person-body">
      <div class="person-top">
        <div class="person-name">Le Minh Quan</div>

        <div class="person-mini">
          <div class="person-mini-line">Teqnological Asia Ltd, Vietnam</div>
          <!-- <div class="person-mini-line">Ho Chi Minh City, Vietnam</div> -->
        </div>
      </div>

      <a class="pill"
         href="https://orcid.org/0009-0006-8876-6204"
         target="_blank" rel="noopener">
        ORCiD <span class="arrow" aria-hidden="true">↗</span>
      </a>
    </div>
  </article>

   <!-- Nguyen Bang Dang Huy-->
  <article class="person-card person-card--compact">
    <img class="person-avatar"
         src="/img/TeamImg/Huy_NCS.png"
         alt="Nguyen Bang Dang Huy"
         loading="lazy">

    <div class="person-body">
      <div class="person-top">
        <div class="person-name">Nguyen Bang Dang Huy</div>

        <div class="person-mini">
          <div class="person-mini-line">University of North Texas, United States</div>
          <!-- <div class="person-mini-line">Texas, United States</div> -->
        </div>
      </div>

      <a class="pill"
         href="https://orcid.org/0009-0009-6482-1207"
         target="_blank" rel="noopener">
        ORCiD <span class="arrow" aria-hidden="true">↗</span>
      </a>
    </div>
  </article>

</div>