<h3 class="group-title">Collaborators</h3>

  <div class="people-grid">
     <!-- Nguyen Minh Nha -->
      <article class="person-card person-card--compact">
        <img class="person-avatar"
            src="/img/TeamImg/NguyenMinhNha.png"
            alt="Nguyen Minh Nha"
            loading="lazy">

        <div class="person-body">
          <div class="person-top">
            <div class="person-name">Dr. Nguyen Minh Nha</div>

            <div class="person-mini">
              <div class="person-mini-line">Tien Giang University, Vietnam</div>
              <!-- <div class="person-mini-line">Hanoi, Vietnam</div> -->
            </div>
          </div>

          <a class="pill"
            href="https://orcid.org/0000-0002-6545-3129"
            target="_blank" rel="noopener">
            ORCiD <span class="arrow" aria-hidden="true">↗</span>
          </a>
        </div>
      </article>

      <!-- Nguyen Quoc Duong -->
      <article class="person-card person-card--compact">
        <img class="person-avatar"
            src="/img/TeamImg/CTV_NguyenQuocDuong@4x.png"
            alt="Nguyen Quoc Duong"
            loading="lazy">

        <div class="person-body">
          <div class="person-top">
            <div class="person-name">Nguyen Quoc Duong</div>

            <div class="person-mini">
              <div class="person-mini-line">VinUniversity, Hanoi, Vietnam</div>
              <!-- <div class="person-mini-line">Hanoi, Vietnam</div> -->
            </div>
          </div>

          <a class="pill"
            href="https://orcid.org/0009-0007-5883-6598"
            target="_blank" rel="noopener">
            ORCiD <span class="arrow" aria-hidden="true">↗</span>
          </a>
        </div>
      </article>
    
    <!-- Vo Van Hien -->
      <article class="person-card person-card--compact">
        <img class="person-avatar"
            src="/img/TeamImg/VoVanHien_TGU.png"
            alt="Vo Van Hien"
            loading="lazy">

        <div class="person-body">
          <div class="person-top">
            <div class="person-name">Vo Van Hien</div>

            <div class="person-mini">
              <div class="person-mini-line">Tien Giang University, Vietnam</div>
              <!-- <div class="person-mini-line">Hanoi, Vietnam</div> -->
            </div>
          </div>

          <a class="pill"
            href="https://orcid.org/"
            target="_blank" rel="noopener">
            ORCiD <span class="arrow" aria-hidden="true">↗</span>
          </a>
        </div>
      </article>

    <!-- Le Trung Kien -->
    <article class="person-card person-card--compact">
      <img class="person-avatar"
          src="/img/TeamImg/Kien@4x.png"
          alt="Le Trung Kien"
          loading="lazy">

      <div class="person-body">
        <div class="person-top">
          <div class="person-name">Le Trung Kien</div>

          <div class="person-mini">
            <div class="person-mini-line">Ho Chi Minh City Power Corporation, Vietnam</div>
            <!-- <div class="person-mini-line">Ho Chi Minh City, Vietnam</div> -->
          </div>
        </div>

        <a class="pill"
          href="https://orcid.org/0009-0004-8454-0000"
          target="_blank" rel="noopener">
          ORCiD <span class="arrow" aria-hidden="true">↗</span>
        </a>
      </div>
    </article>
   
       <!-- Nguyen Ai Linh -->
  <article class="person-card person-card--compact">
    <img class="person-avatar"
         src="/img/TeamImg/TV_AiLinh@4x.png"
         alt="Nguyen Ai Linh"
         loading="lazy">

    <div class="person-body">
      <div class="person-top">
        <div class="person-name">Nguyen Ai Linh</div>

        <div class="person-mini">
          <div class="person-mini-line">University of Medicine and Pharmacy at Ho Chi Minh City, Vietnam</div>
          <!-- <div class="person-mini-line">Ho Chi Minh City, Vietnam</div> -->
        </div>
      </div>

      <a class="pill"
         href="https://orcid.org/0009-0003-2465-0315"
         target="_blank" rel="noopener">
        ORCiD <span class="arrow" aria-hidden="true">↗</span>
      </a>
    </div>
  </article>

  <!-- Huynh trong van -->
    <article class="person-card person-card--compact">
      <img class="person-avatar"
          src="/img/TeamImg/Van@4x.png"
          alt="Huynh trong van"
          loading="lazy">

      <div class="person-body">
        <div class="person-top">
          <div class="person-name">Huynh Trong Van</div>

          <div class="person-mini">
            <div class="person-mini-line">TVT Medical JSC, Vietnam</div>
            <!-- <div class="person-mini-line">Ho Chi Minh City, Vietnam</div> -->
          </div>
        </div>

        <a class="pill"
          href=""
          target="_blank" rel="noopener">
          ORCiD <span class="arrow" aria-hidden="true">↗</span>
        </a>
      </div>
    </article>
<div>