<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Publications</title>

  <link rel="stylesheet" href="../../css/footer.css">
  <link rel="stylesheet" href="../../css/style.css" />
  <link rel="stylesheet" href="../../css/publication.css" />
   <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">
</head>

<body>
  <div id="header-container"></div>

  <main class="page">
    <div class="hero-media">
        <img src="/img/hero.png" alt="Team photo" />
        <div class="hero-overlay"></div>
      </div>
    <section id="people" class="section container">

      <div id="Introjounal-container"></div>

      <section class="pub-block" id="publications">
        <div id="pubYearGroups"></div>

        <ol class="pub-list" id="pubAllList">
             <li class="pub-item" data-year="2026" data-type="conference">
              <span class="pub-index"></span>
              <div class="pub-body">
                <a class="pub-link"
                  href=""
                  target="_blank" rel="noopener">
                  Histogram-Based Cardiovascular Disease Risk Modeling
                </a>
                <div class="pub-meta">
                  <span class="pub-venue">The 11th International Conference on Information and Communication Technology for Intelligent Systems (ICTIS), 9-11 April, Thailand</span>
                  <div class="wraper-button" style="margin-left: 10px;">
                      <span class="pub-type">Scopus</span>
                      <!-- <span class="conf-accept">Accepted</span> -->
                  </div>
                </div>
              </div>
            </li>

            <li class="pub-item" data-year="2026" data-type="conference">
              <span class="pub-index"></span>
              <div class="pub-body">
                <a class="pub-link"
                  href=""
                  target="_blank" rel="noopener">
                  A CNN-Vision Transformer Hybrid Framework for Brain Tumor MRI Image Classification
                </a>
                <div class="pub-meta">
                  <span class="pub-venue">The 2026 Fisu Joint Conference on Artificial Intelligence (FJCAI 2026), 27-28 March, Vietnam</span>
                  <div class="wraper-button" style="margin-left: 10px;">
                      <!-- <span class="pub-type">Scopus</span> -->
                      <!-- <span class="conf-accept">Accepted</span> -->
                  </div>
                </div>
              </div>
            </li>

            <li class="pub-item" data-year="2026" data-type="conference">
              <span class="pub-index"></span>
              <div class="pub-body">
                <a class="pub-link"
                  href=""
                  target="_blank" rel="noopener">
                  Hotspot Detection on Distribution-Mapper Graphs
                </a>
                <div class="pub-meta">
                  <span class="pub-venue">The 2026 Fisu Joint Conference on Artificial Intelligence (FJCAI 2026), 27-28 March, Vietnam</span>
                  <div class="wraper-button" style="margin-left: 10px;">
                      <!-- <span class="pub-type">Scopus</span> -->
                      <!-- <span class="conf-accept">Accepted</span> -->
                  </div>
                </div>
              </div>
            </li>

            <li class="pub-item" data-year="2026" data-type="conference">
              <span class="pub-index"></span>
              <div class="pub-body">
                <a class="pub-link"
                  href=""
                  target="_blank" rel="noopener">
                  A Novel Zigzag-Persistence-Based Framework for Topology-Enhanced Time-Series Forecasting
                </a>
                <div class="pub-meta">
                  <span class="pub-venue">The 2nd International Conference On Computational Intelligence In Engineering Science (ICCIES 2026), 02-04 April, Vietnam</span>
                  <div class="wraper-button" style="margin-left: 10px;">
                      <span class="pub-type">Scopus</span>
                      <!-- <span class="conf-accept">Accepted</span> -->
                  </div>
                </div>
              </div>
            </li>

          <li class="pub-item" data-year="2025" data-type="journal">
            <span class="pub-index"></span>
            <div class="pub-body">
              <a class="pub-link"
                 href="https://doi.org/10.1016/j.image.2025.117461"
                 target="_blank" rel="noopener">
                U-MobileViT: A Lightweight Vision Transformer-based Backbone for Panoptic Driving Segmentation
              </a>
              <div class="pub-meta">
                <span class="pub-venue">Signal Processing: Image Communication, Vol. 142, 117461</span>
                <div class="wraper-button" style="margin-left: 10px;">
                  <span class="conf-ISI">ISI/Q2</span>
                </div>
              </div>
            </div>
          </li>

          <li class="pub-item" data-year="2025" data-type="journal">
            <span class="pub-index"></span>
            <div class="pub-body">
              <a class="pub-link"
                 href="https://doi.org/10.1142/S3060932125500207"
                 target="_blank" rel="noopener">
                A Novel Approach to Metaheuristic-Driven Threshold Optimization in Frequent High-Order Pattern Mining
              </a>
              <div class="pub-meta">
                <span class="pub-venue">Materials and Emerging Technologies for Sustainability, Vol. 01, No. 04, 2550020</span>
              </div>
            </div>
          </li>

          <li class="pub-item" data-year="2025" data-type="conference">
            <span class="pub-index"></span>
            <div class="pub-body">
              <a class="pub-link" href="#" target="_blank" rel="noopener">
                Enhanced Traffic Sign Recognition on Multi-Speed Expressways in Vietnam Using YOLO and Lightweight Polygon-Based Lane Detection
              </a>
              <div class="pub-meta">
                <span class="pub-venue">The 11th EAI International Conference on Smart Objects and Technologies for Social Good (EAI GOODTECHS 2025), 18-20 December, Vietnam</span>
                <span class="pub-type">Scopus</span>
                <!-- <span class="conf-accept">Accepted</span> -->
              </div>
            </div>
          </li>

          <li class="pub-item" data-year="2025" data-type="conference">
            <span class="pub-index"></span>
            <div class="pub-body">
              <a class="pub-link" href="#" target="_blank" rel="noopener">
                Cross-Country Analysis of Discourse on Misinformation in the Digital Platform Using Topic Modeling
              </a>
              <div class="pub-meta">
                <span class="pub-venue">The 7th IEEE International Conference on Cognitive Machine Intelligence (IEEE CogMI 2025), 11-14 November, USA</span>
                <span class="pub-type">Scopus</span>
                <!-- <span class="conf-accept">Accepted</span> -->
              </div>
            </div>
          </li>

          <li class="pub-item" data-year="2025" data-type="preprint">
            <span class="pub-index"></span>
            <div class="pub-body">
              <a class="pub-link"
                 href="https://doi.org/10.48550/arXiv.2509.12251"
                 target="_blank" rel="noopener">
                V-Math: An Agentic Approach to the Vietnamese National High School Graduation Mathematics Exams
              </a>
              <div class="pub-meta">
                <span class="pub-venue">arXiv:2509.12251</span>
                <span class="conf-accept">Preprint</span>
              </div>
            </div>
          </li>

          
        </ol>


      </section>
    </section>
  </main>

  <div id="footer-container"></div>

  <script src="../../js/include.js"></script>
  <script src="../../js/visitors.js"></script>
  <script src="../../js/scroll.js"></script>
  <script src="../../js/app.js"></script>
  <script src="../../js/burger.js"></script>
  <script src="../../js/theme-toggle.js"></script>


</body>
</html>
