<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Contact</title>

  <link rel="stylesheet" href="../../css/style.css" />
<link rel="stylesheet" href="../../css/footer.css" />
 <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../../css/contactus.css" />
</head>

<body>
  <div id="header-container"></div>
    <main id="home" class="page">
    <div class="hero-media">
        <img src="/img/hero.png" alt="Team photo" />
        <div class="hero-overlay"></div>
      </div>
    <section class="contact container">
     
      <div class="contact-grid">

        <div class="contact-left">
          <div class="contact-email">AMaDaS Research Group</div>

          <div class="contact-card">
            <div class="contact-person">
              <!-- <div class="contact-name">Dr. Bui Quang Thinh</div> -->
               <div class="contact-name-row">
                  <div class="contact-name">Dr. Bui Quang Thinh</div>

                  <div class="contact-links">
                    <a class="btn btn-mini" href="mailto:buiquangthinh@tgu.edu.vn" target="_blank" rel="noopener">Send Email</a>
                    <a class="btn btn-mini" href="https://quangthinhbui.vercel.app/" target="_blank" rel="noopener">Website</a>
                  </div>
                </div>

              <div class="contact-role">Senior Lecturer</div>
              <div class="contact-role">Office of Scientific Research, Technology Management and International Cooperation</div>
              <div class="contact-affil">Tien Giang University</div>
              <div class="contact-affil">Dong Thap, Vietnam</div>
            </div>

            <ul class="contact-list">
              <li><span class="k">Phone:</span> (+84) 273 3 872 624</li>
              <li><span class="k">Email:</span> amadas@tgu.edu.vn</li>
              <li><span class="k">Address:</span> Than Binh Hamlet, Chau Thanh Commune, Dong Thap Province, Vietnam</li>
            </ul>

            <div class="contact-actions">
              <a class="btn" href="mailto:amadas@tgu.edu.vn">Send Email</a>
            </div>
          </div>
        </div>

        <div class="contact-right">
          <div class="map-wrap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80520.75534753523!2d106.28677440515388!3d10.433152845903587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310abb77abfeb299%3A0x3047216743107681!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBUaeG7gW4gR2lhbmcgY8ahIHPhu58gMg!5e1!3m2!1svi!2s!4v1766425822127!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </section>
  </main>

  <div id="footer-container"></div>

  <script src="../../js/include.js"></script>

  <script src="../../js/visitors.js"></script>
  <script src="../../js/theme-toggle.js"></script>

<script src="../../js/scroll.js"></script>
<script src="../../js/app.js"></script>
<script src="../../js/burger.js"></script>


</body>
</html>
